[submodule "docs/stater_kit"]
	path = docs/stater_kit
	url = https://github.com/bids-standard/bids-starter-kit.git
	datalad-url = https://github.com/bids-standard/bids-starter-kit.git
[submodule "docs/stats_models"]
	path = docs/stats_models
	url = https://github.com/bids-standard/stats-models
	datalad-url = https://github.com/bids-standard/stats-models
[submodule "docs/grant"]
	path = docs/grant
	url = https://github.com/bids-standard/grant_writing_kit
	datalad-url = https://github.com/bids-standard/grant_writing_kit
[submodule "docs/extensions"]
	path = docs/extensions
	url = https://github.com/bids-standard/bids-extensions
	datalad-url = https://github.com/bids-standard/bids-extensions
[submodule "docs/execution"]
	path = docs/execution
	url = https://github.com/bids-standard/execution-spec
	datalad-url = https://github.com/bids-standard/execution-spec
[submodule "docs/apps"]
	path = docs/apps
	url = https://github.com/bids-apps/bids-apps.github.io
	datalad-url = https://github.com/bids-apps/bids-apps.github.io
[submodule "docs/starter_kit"]
	path = docs/starter_kit
	url = https://github.com/bids-standard/bids-starter-kit.git
[submodule "docs/variable-transform"]
	path = docs/variable-transform
	url = https://github.com/bids-standard/variable-transform.git
	datalad-url = https://github.com/bids-standard/variable-transform.git
[submodule "docs/website"]
	datalad-url = https://github.com/bids-standard/bids-website.git
[submodule "docs/website"]
	path = docs/website
	url = https://github.com/bids-standard/bids-website.git
[submodule "specification"]
	path = specification
	url = https://github.com/bids-standard/bids-specification.git
[submodule "docs/examples"]
	path = docs/examples
	url = https://github.com/bids-standard/bids-examples
	datalad-url = https://github.com/bids-standard/bids-examples
