[submodule "specification"]
	path = specification
	url = https://github.com/bids-standard/bids-specification.git
[submodule "execution-spec"]
	path = execution-spec
	url = https://github.com/bids-standard/execution-spec
	datalad-url = https://github.com/bids-standard/execution-spec
[submodule "data/datasets/examples"]
	path = data/datasets/examples
	url = https://github.com/bids-standard/bids-examples
	datalad-url = https://github.com/bids-standard/bids-examples
[submodule "docs/collaboration/bids_github"]
	path = docs/collaboration/bids_github
	url = https://github.com/bids-standard/.github
