---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: tools/schemacode/bidsschematools/tests/data/broken_dataset_description.json
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    # -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: mixed-line-ending
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--config=.codespellrc]
        exclude:
            docs/examples/README.md
# -   repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
#     rev: 0.2.3
#     hooks:
#     -   id: yamlfmt
#         args: [--mapping, '4', --sequence, '4', --offset, '0']
