---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
    (?x)^(
        tools/schemacode/bidsschematools/tests/data/broken_dataset_description.json
        | CNAME
    )$
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: |
            (?x)^(
                mkdocs.yml
            )$
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: mixed-line-ending

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [--toml, pyproject.toml]
        additional_dependencies: [tomli]

-   repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
    -   id: yamlfmt
        args: [--mapping, '4', --sequence, '4', --offset, '0']
        exclude: |
            (?x)^(
                docs/specification/.*
                | mkdocs.yml
            )$

-   repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
    -   id: pretty-format-toml
        args: [--autofix, --indent, '4', --no-sort, --trailing-commas]

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
    -   id: isort

-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        args: [--config, .flake8, --verbose, tools]
        additional_dependencies: [flake8-bugbear]
