---
site_name: The Brain Imaging Data Structure
repo_url: https://github.com/bids-standard/bids-website/tree/main
site_url: https://bids-website.readthedocs.io

plugins:
  - search
  - tags
  # -   social
  - blog
  # -   rss:
  #         match_path: blog/posts/.*
  #         date_from_meta:
  #             as_creation: date
  #         categories:
  #         -   categories
  #         -   tags
  - open-in-new-tab
  - macros:
      module_name: macros/main
      # toggle to true if you are in CD/CI environment
      on_error_fail: true
  - redirects:
      redirect_maps:
        # old links from the old website
        "news.md": "blog/index.md"
        "specification.md": "standards/index.md"
        "get_started.md": "getting_started/index.md"
        "get_involved.md": "extensions/index.md"
        "governance.md": "collaboration/governance.md"
        "acknowledgments.md": "collaboration/acknowledgments.md"
        "benefits.md": "tools/index.md"
        "merch.md": "https://www.teepublic.com/user/bids"
        # redirects to make sure old links to the BEP stay valid
        "bep004.md" : "https://docs.google.com/document/d/1kyw9mGgacNqeMbp4xZet3RnDhcMmf4_BmRgKaOkO2Sc/"
        "bep011.md" : "https://docs.google.com/document/d/1YG2g4UkEio4t_STIBOqYOwneLEs1emHIXbGKynx7V0Y/"
        "bep012.md" : "https://github.com/bids-standard/bids-specification/pull/519"
        "bep014.md" : "https://docs.google.com/document/d/11gCzXOPUbYyuQx8fErtMO9tnOKC3kTWiL9axWkkILNE/"
        "bep016.md" : "https://github.com/bids-standard/bids-bep016"
        "bep017.md" : "https://docs.google.com/document/d/1ugBdUF6dhElXdj3u9vw0iWjE6f_Bibsro3ah7sRV0GA/"
        "bep020.md" : "https://github.com/bids-standard/bids-specification/pull/1128"
        "bep021.md" : "https://docs.google.com/document/d/1PmcVs7vg7Th-cGC-UrX8rAhKUHIzOI-uIOh69_mvdlw/"
        "bep022.md" : "https://github.com/bids-standard/bids-specification/pull/1377"
        "bep023.md" : "https://docs.google.com/document/d/1yzsd1J9GT-aA0DWhdlgNr5LCu6_gvbjLyfvYq2FuxlY/"
        "bep024.md" : "https://docs.google.com/document/d/1fqnJZ18x5LJC8jiJ8yvPHUGFzNBZ6gW2kywYrUKWtuo/"
        "bep026.md" : "https://docs.google.com/document/d/14KC1d5-Lx-7ZSMtwS7pVAAvz-2WR_uoo5FvsNirzqJw/"
        "bep028.md" : "https://docs.google.com/document/d/1vw3VNDof5cecv2PkFp7Lw_pNUTUo8-m8V4SIdtGJVKs/"
        "bep032.md" : "https://docs.google.com/document/d/1oG-C8T-dWPqfVzL2W8HO3elWK8NIh2cOCPssRGv23n0/"
        "bep033.md" : "https://docs.google.com/document/d/1en4ByORlPqwDfZwNOOBTj0GwpYBcS0_2peqreTOvwDU/"
        "bep034.md" : "https://github.com/bids-standard/bids-specification/pull/967"
        "bep035.md" : "https://docs.google.com/document/d/1tFRNumQyIgjXBNC3brFDLO9FaikjL84noxK6Om-Ctik/"
        "bep036.md" : "https://docs.google.com/document/d/1WTkfES8L0vItZVyyR68fc-9cO03jS-kCnMnw6602pbc/"
        "bep037.md" : "https://docs.google.com/document/d/1drYd7kaNbHTcYPR3T_CRDsPcEbFSV7JbJUmhMPeWMqY/"
        "bep038.md" : "https://docs.google.com/document/d/1RxW4cARr3-EiBEcXjLpSIVidvnUSHE7yJCUY91i5TfM/"
        "bep039.md" : "https://docs.google.com/document/d/1GTWsj0MFQedXjOaNk6H0or6IDVFyMAysrJ9I4Zmpz2E/"
        "bep040.md" : "https://docs.google.com/document/d/1W3z01mf1E8cfg_OY7ZGqeUeOKv659jCHQBXavtmT-T8/"
        "bep041.md" : "https://docs.google.com/document/d/1KHzp-yk8KXvkUIhtN71WU0m4P4kKT9C1yvI-i9_kNeY/"
        "bep042.md" : "https://docs.google.com/document/d/1G5_Eu2OemcZXS9xOGINPA6SUTaZOml7LBmZCMnUhTXA/"
        "bep043.md" : "https://docs.google.com/document/d/1LACjc5hFXDpa2l_QddBPR41Vce_gglGv9WeuBB7LsBU/"
        "bep001.md" : "https://bids-specification.readthedocs.io/en/stable/appendices/qmri.html"
        "bep002.md" : "https://bids-standard.github.io/stats-models/"
        "bep003.md" : "https://bids-specification.readthedocs.io/en/stable/derivatives/introduction.html"
        "bep005.md" : "https://bids-specification.readthedocs.io/en/stable/appendices/arterial-spin-labeling.html"
        "bep006.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/electroencephalography.html"
        "bep007.md" : "https://bids-specification.readthedocs.io/en/stable/appendices/hed.html"
        "bep008.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/magnetoencephalography.html"
        "bep009.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/positron-emission-tomography.html"
        "bep010.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/intracranial-electroencephalography.html"
        "bep018.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/genetic-descriptor.html"
        "bep027.md" : "https://bids-standard.github.io/execution-spec/"
        "bep029.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/motion.html"
        "bep030.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/near-infrared-spectroscopy.html"
        "bep031.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/microscopy.html"
        "bep013.md" : "https://docs.google.com/document/d/1qBNQimDx6CuvHjbDvuFyBIrf2WRFUOJ-u50canWjjaw/"
        "bep015.md" : "https://docs.google.com/document/d/1WYOTXDB7GzlHoWqLjd45I3uGBgPxXddST-NTqBnroJE/"
        "bep019.md" : "https://docs.google.com/document/d/1FqJI791ycXr0bfRg2qyLqAf0RpVttJ2cInOgMWrKsNU/"
        "bep025.md" : "https://docs.google.com/document/d/1xeiFACAnK_X64kL6XoXo8vpZ9Bn6B5Xd3j59Le1clRE/"

docs_dir: docs

use_directory_urls: false

exclude_docs: |
  collaboration/bids_github/profile/README.md
  collaboration/bids_github/README.md
  collaboration/bids_github/SUPPORT.md

nav:
-   About BIDS: index.md
-   Blog:
    -   blog/index.md
-   Standards:
    -   standards/index.md
    -   BIDS Specification:
        -   standards/bids_specification/index.md
    -   BIDS Schema:
        -   standards/schema/index.md
        -   how it works:
            -   standards/schema/how-the-schema-works.md
            -   standards/schema/schema-meta.md
            -   standards/schema/schema-objects.md
            -   standards/schema/schema-rules.md
    -   BIDS Stats Model:
        -   standards/bids_stats_model/index.md
    -   BIDS Apps:
        -   standards/bids_app_specification/index.md
-   Getting started:
    -   getting_started/index.md
    -   Folders and files:
        -   getting_started/folders_and_files/index.md
        -   getting_started/folders_and_files/folders.md
        -   getting_started/folders_and_files/files.md
        -   Metadata:
            - getting_started/folders_and_files/metadata/index.md
            - JSON: getting_started/folders_and_files/metadata/json.md
            - TSV: getting_started/folders_and_files/metadata/tsv.md
        -   getting_started/folders_and_files/derivatives.md
    -   Resources:
        -   getting_started/resources/index.md
        -   getting_started/resources/links.md
        -   getting_started/resources/glossary.md
        -   getting_started/resources/dependencies.md
        -   getting_started/resources/publications.md
        -   getting_started/resources/talks.md
    -   BIDS apps:
        -   getting_started/bids_apps/index.md
        -   getting_started/bids_apps/tutorial.md
    -   Tutorials:
        -   getting_started/tutorials/index.md
        -   getting_started/tutorials/annotation.md
        -   Conversion:
            -   getting_started/tutorials/conversion/index.md
            -   getting_started/tutorials/conversion/asl.md
            -   getting_started/tutorials/conversion/ieeg.md
            -   getting_started/tutorials/conversion/mri.md
            -   getting_started/tutorials/conversion/pet.md
    -   How to:
        -   getting_started/how_to/index.md
    -   Templates:
        -   getting_started/templates/index.md
-   Tools:
    -   tools/index.md
    -   tools/converters.md
    -   tools/validator.md
    -   tools/bids-apps.md
    -   tools/others.md
-   Datasets:
    -   datasets/index.md
    -   datasets/examples.md
-   FAQ:
    -   faq/index.md
    -   faq/general.md
    -   faq/eeg.md
    -   faq/mri.md
    -   faq/phenotype.md
    -   faq/bids-extensions.md
    -   faq/bids-apps.md
-   Collaboration:
    -   collaboration/index.md
    -   Governance: collaboration/governance.md
    -   collaboration/working-groups.md
    -   Contributing: collaboration/bids_github/CONTRIBUTING.md
    -   collaboration/contributors.md
    -   Code of conduct: collaboration/bids_github/CODE_OF_CONDUCT.md
    -   collaboration/acknowledgments.md
    -   Reports:
        -   collaboration/reports/index.md
        -   Google summer:
            -   GSOC 2018: collaboration/reports/google_summer/2018-gsoc.md
            -   GSOD 2024: collaboration/reports/google_summer/2024-gsod.md
-   Extensions:
    -   extensions/index.md
    -   extensions/beps.md
    -   extensions/general-guidelines.md
    -   extensions/specific-guidelines.md
    -   extensions/submission.md
    -   Using MkDocs macros: extensions/macros_doc.md
-   Impact:
    -   impact/index.md
    -   impact/measuring.md
-   Merch: https://www.teepublic.com/user/bids
-   Contact:
    - contact/index.md


theme:
  name: material
  custom_dir: docs/overrides
  favicon: assets/favicon/favicon.ico
  logo: assets/img/logos/logo.png
  features:
    - announce.dismiss
    - content.action.edit
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - footnotes
    - header.autohide
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.suggest
    - search.highlight
    - toc.follow
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    annotation: material/arrow-right-circle
  palette:
    - media: (prefers-color-scheme)
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      primary: teal
      accent: green
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      accent: green
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

edit_uri: https://github.com/bids-standard/bids-website/edit/main/docs/

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      anchorlink: true
      toc_depth: 3

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  - javascripts/giscus.js

extra_css:
  - stylesheets/extra.css

watch:
  - includes
  - templates
  - data

copyright:
  Copyright &copy; BIDS Contributors - <a
  href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>

extra:
  generator: false
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/BIDSstandard/
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@bidsstandard
    - icon: simple/bluesky
      link: https://bsky.app/profile/bidsstandard.bsky.social/
    - icon: fontawesome/brands/google
      link: https://groups.google.com/g/bids-discussion
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/bidsstandard/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCxZUcYfd_nvIVWAbzRB1tlw
