---
site_name: The Brain Imaging Data Structure
repo_url: https://github.com/bids-standard/bids-website/tree/main
site_url: https://bids.neuroimaging.io/

plugins:
  - search
  - tags
  # -   social
  - blog
  # -   rss:
  #         match_path: blog/posts/.*
  #         date_from_meta:
  #             as_creation: date
  #         categories:
  #         -   categories
  #         -   tags
  - open-in-new-tab
  - macros:
      module_name: macros/main
      # toggle to true if you are in CD/CI environment
      on_error_fail: true
  - redirects:
      redirect_maps:
        # old links from the old website
        "news.md": "blog/index.md"
        "specification.md": "standards/index.md"
        "get_started.md": "getting_started/index.md"
        "get_involved.md": "extensions/index.md"
        "governance.md": "collaboration/governance.md"
        "acknowledgments.md": "collaboration/acknowledgments.md"
        "benefits.md": "tools/index.md"
        "merch.md": "https://www.teepublic.com/user/bids"
        # redirects to make sure old links to the BEP stay valid
        "bep001.md" : "https://bids-specification.readthedocs.io/en/stable/appendices/qmri.html"
        "bep002.md" : "https://bids-standard.github.io/stats-models/"
        "bep003.md" : "https://bids-specification.readthedocs.io/en/stable/derivatives/introduction.html"
        "bep005.md" : "https://bids-specification.readthedocs.io/en/stable/appendices/arterial-spin-labeling.html"
        "bep006.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/electroencephalography.html"
        "bep007.md" : "https://bids-specification.readthedocs.io/en/stable/appendices/hed.html"
        "bep008.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/magnetoencephalography.html"
        "bep009.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/positron-emission-tomography.html"
        "bep010.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/intracranial-electroencephalography.html"
        "bep018.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/genetic-descriptor.html"
        "bep022.md" : "https://bids-specification.readthedocs.io/en/stable/modality-specific-files/magnetic-resonance-spectroscopy.html"
        "bep027.md" : "https://bids-standard.github.io/execution-spec/"
        #
        "bep004.md" : "https://bids.neuroimaging.io/extensions/beps/bep_004.html"
        "bep011.md" : "https://bids.neuroimaging.io/extensions/beps/bep_011.html"
        "bep012.md" : "https://bids.neuroimaging.io/extensions/beps/bep_012.html"
        "bep013.md" : "https://bids.neuroimaging.io/extensions/beps/bep_013.html"
        "bep014.md" : "https://bids.neuroimaging.io/extensions/beps/bep_014.html"
        "bep015.md" : "https://bids.neuroimaging.io/extensions/beps/bep_015.html"
        "bep016.md" : "https://bids.neuroimaging.io/extensions/beps/bep_016.html"
        "bep017.md" : "https://bids.neuroimaging.io/extensions/beps/bep_017.html"
        "bep019.md" : "https://bids.neuroimaging.io/extensions/beps/bep_019.html"
        "bep020.md" : "https://bids.neuroimaging.io/extensions/beps/bep_020.html"
        "bep021.md" : "https://bids.neuroimaging.io/extensions/beps/bep_021.html"
        "bep023.md" : "https://bids.neuroimaging.io/extensions/beps/bep_023.html"
        "bep024.md" : "https://bids.neuroimaging.io/extensions/beps/bep_024.html"
        "bep025.md" : "https://bids.neuroimaging.io/extensions/beps/bep_025.html"
        "bep026.md" : "https://bids.neuroimaging.io/extensions/beps/bep_026.html"
        "bep028.md" : "https://bids.neuroimaging.io/extensions/beps/bep_028.html"
        "bep029.md" : "https://bids.neuroimaging.io/extensions/beps/bep_029.html"
        "bep030.md" : "https://bids.neuroimaging.io/extensions/beps/bep_030.html"
        "bep031.md" : "https://bids.neuroimaging.io/extensions/beps/bep_031.html"
        "bep032.md" : "https://bids.neuroimaging.io/extensions/beps/bep_032.html"
        "bep033.md" : "https://bids.neuroimaging.io/extensions/beps/bep_033.html"
        "bep034.md" : "https://bids.neuroimaging.io/extensions/beps/bep_034.html"
        "bep035.md" : "https://bids.neuroimaging.io/extensions/beps/bep_035.html"
        "bep036.md" : "https://bids.neuroimaging.io/extensions/beps/bep_036.html"
        "bep037.md" : "https://bids.neuroimaging.io/extensions/beps/bep_037.html"
        "bep038.md" : "https://bids.neuroimaging.io/extensions/beps/bep_038.html"
        "bep039.md" : "https://bids.neuroimaging.io/extensions/beps/bep_039.html"
        "bep040.md" : "https://bids.neuroimaging.io/extensions/beps/bep_040.html"
        "bep041.md" : "https://bids.neuroimaging.io/extensions/beps/bep_041.html"
        "bep042.md" : "https://bids.neuroimaging.io/extensions/beps/bep_042.html"
        "bep043.md" : "https://bids.neuroimaging.io/extensions/beps/bep_043.html"
        "bep044.md" : "https://bids.neuroimaging.io/extensions/beps/bep_044.html"

docs_dir: docs

use_directory_urls: false

exclude_docs: |
  collaboration/bids_github/profile/README.md
  collaboration/bids_github/README.md
  collaboration/bids_github/SUPPORT.md

nav:
-   About BIDS: index.md
-   Blog:
    -   blog/index.md
-   Standards:
    -   standards/index.md
    -   BIDS Specification:
        -   standards/bids_specification/index.md
    -   BIDS Schema:
        -   standards/schema/index.md
        -   how it works:
            -   standards/schema/how-the-schema-works.md
            -   standards/schema/schema-meta.md
            -   standards/schema/schema-objects.md
            -   standards/schema/schema-rules.md
    -   BIDS Stats Model:
        -   standards/bids_stats_model/index.md
    -   BIDS Apps:
        -   standards/bids_app_specification/index.md
-   Getting started:
    -   getting_started/index.md
    -   Folders and files:
        -   getting_started/folders_and_files/index.md
        -   getting_started/folders_and_files/folders.md
        -   getting_started/folders_and_files/files.md
        -   Metadata:
            - getting_started/folders_and_files/metadata/index.md
            - JSON: getting_started/folders_and_files/metadata/json.md
            - TSV: getting_started/folders_and_files/metadata/tsv.md
        -   getting_started/folders_and_files/derivatives.md
    -   Resources:
        -   getting_started/resources/index.md
        -   getting_started/resources/links.md
        -   getting_started/resources/glossary.md
        -   getting_started/resources/dependencies.md
        -   getting_started/resources/publications.md
        -   getting_started/resources/talks.md
    -   BIDS apps:
        -   getting_started/bids_apps/index.md
        -   getting_started/bids_apps/tutorial.md
    -   Tutorials:
        -   getting_started/tutorials/index.md
        -   getting_started/tutorials/annotation.md
        -   Conversion:
            -   getting_started/tutorials/conversion/index.md
            -   getting_started/tutorials/conversion/asl.md
            -   getting_started/tutorials/conversion/ieeg.md
            -   getting_started/tutorials/conversion/mri.md
            -   getting_started/tutorials/conversion/pet.md
    -   How to:
        -   getting_started/how_to/index.md
    -   Templates:
        -   getting_started/templates/index.md
-   Tools:
    -   tools/index.md
    -   tools/converters.md
    -   tools/validator.md
    -   tools/bids-apps.md
    -   tools/others.md
-   Datasets:
    -   datasets/index.md
    -   datasets/examples.md
-   FAQ:
    -   faq/index.md
    -   faq/general.md
    -   faq/eeg.md
    -   faq/mri.md
    -   faq/phenotype.md
    -   faq/bids-extensions.md
    -   faq/bids-apps.md
-   Collaboration:
    -   collaboration/index.md
    -   Governance: collaboration/governance.md
    -   collaboration/working-groups.md
    -   Contributing: collaboration/bids_github/CONTRIBUTING.md
    -   collaboration/contributors.md
    -   Code of conduct: collaboration/bids_github/CODE_OF_CONDUCT.md
    -   collaboration/acknowledgments.md
    -   Reports:
        -   collaboration/reports/index.md
        -   Google summer:
            -   GSOC 2018: collaboration/reports/google_summer/2018-gsoc.md
            -   GSOD 2024: collaboration/reports/google_summer/2024-gsod.md
-   Extensions:
    -   extensions/index.md
    -   extensions/beps.md
    -   extensions/process.md
    -   extensions/guidelines.md
    -   Using MkDocs macros: extensions/macros_doc.md
-   Impact:
    -   impact/index.md
    -   impact/measuring.md
-   Merch: https://www.teepublic.com/user/bids
-   Contact:
    - contact/index.md


theme:
  name: material
  custom_dir: docs/overrides
  favicon: assets/favicon/favicon.ico
  logo: assets/img/logos/logo.png
  features:
    - announce.dismiss
    - content.action.edit
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - footnotes
    - header.autohide
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.suggest
    - search.highlight
    - toc.follow
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    annotation: material/arrow-right-circle
  palette:
    - media: (prefers-color-scheme)
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      primary: custom
      accent: custom
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: custom
      accent: custom
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

edit_uri: https://github.com/bids-standard/bids-website/edit/main/docs/

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      anchorlink: true
      toc_depth: 3

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js

extra_css:
  - stylesheets/extra.css

watch:
  - includes
  - templates
  - data

copyright:
  Copyright &copy; BIDS Contributors - <a
  href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>

extra:
  generator: false
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/BIDSstandard/
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@bidsstandard
    - icon: simple/bluesky
      link: https://bsky.app/profile/bidsstandard.bsky.social/
    - icon: fontawesome/brands/google
      link: https://groups.google.com/g/bids-discussion
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/bidsstandard/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCxZUcYfd_nvIVWAbzRB1tlw
