[tool.black]
line-length = 79

[tool.codespell]
ignore-words-list = "nd,manuel,ALS,TE,Acknowledgements,asai"
skip = ".git,env,specification,starter_kit,examples,apps,execution,pyproject.toml,data/affiliations.tsv,docs/collaboration/contributors.md"

[tool.isort]
combine_as_imports = true
line_length = 79
profile = "black"
skip_gitignore = true
