certifi>=2024.7.4
gender_guesser
geopy
jinja2>=3.1.5
markdown-it-py
mkdocs-material[imaging]>=9.6.3
mkdocs-macros-plugin
mkdocs-open-in-new-tab
mkdocs-panzoom-plugin
mkdocs-redirects
mkdocs-rss-plugin
plotly>=5.3.1
pybids
pyzotero
rich
ruamel.yaml
tabulate
urllib3>=2.2.2
bidsschematools[render]
-e file:tools
