gender_guesser
geopy
markdown-it-py
mkdocs-material[imaging]
mkdocs-macros-plugin
mkdocs-open-in-new-tab
mkdocs-redirects
mkdocs-rss-plugin
plotly>=5.3.1
pybids
rich
ruamel.yaml
tabulate
pyzotero
bidsschematools[render]
-e file:tools
