version: 2.1
jobs:

    lint:
        docker:
            - image: cimg/node:lts
        steps:
            - checkout
            - run:
                name: install linter
                command: |
                    npm install `cat npm-requirements.txt`
            - run:
                name: lint the markdown files
                # for defining .remarkrc, see https://github.com/remarkjs/remark-lint#configuring-remark-lint
                command: |
                    ./node_modules/.bin/remark --version
                    cat .remarkrc
                    ./node_modules/.bin/remark _pages _posts --frail --rc-path .remarkrc

    build:
        docker:
            - image: cimg/ruby:3.0
        steps:
            - checkout

            # Restore gem cache to speed up installations
            - restore_cache:
                keys:
                  - gem-cache-0-{{ checksum "./Gemfile" }}

            - run:
                name: check versions
                command: |
                    gem --version
                    bundle --version

            - run:
                name: install
                command: |
                    bundle config set --local path 'vendor/bundle'
                    bundle install

            - run:
                name: build
                command: |
                    bundle exec jekyll build --baseurl /0/_site

            - store_artifacts:
                path: _site
                destination: _site

            # Store gem cache
            - save_cache:
                key: gem-cache-0-{{ checksum "./Gemfile" }}
                paths:
                  - vendor/bundle

workflows:
    lint_and_build:
        jobs:
            - lint
            - build
