<section class="converters">
  <br />
  <div align="center" class="table-container">
    <table>
      <tr>
        <th>Extension</th>
        <th>Title</th>
        <th>Content</th>
        <th>Lead(s)</th>
        <th>Last update</th>
      </tr>

      {% assign beps = include.beps %} {% for bep in beps %} {% assign number =
      bep.number %}
      <tr>
        <td>
          <a href="{{ site.url }}/bep{{ number }}" target="_blank"
            >BEP{{ number }}</a
          >
        </td>
        <td class="bep-title">
          <p>{{ bep.title }}</p>
        </td>
        <td>
          <ul>
          {% for x in bep.content %}
            <li>{{ x | markdownify }}</li>
          {% endfor %}          
          </ul>
        </td>        
        <td class="leads" style="width:15%">
          <ul>
            {% for person in bep.leads %}
              <li>{{ person.name | markdownify }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="bep-comment">
          <p>{{ bep.update | markdownify }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <br />
</section>
