<style>
  table {
    font-size: 14px;
  }
  th,
  td {
    text-align: center;
    vertical-align: middle;
  }
</style>

<section>
  {% for group in include.members %}

  <h3 style="padding: 1rem">{{ group.name }}</h3>

  <p>{{ group.comment }}</p>

  <table style="width: 120%; margin-right: 0%; margin-left: 0%">
    <tr>
      <th>Name</th>
      <th>Data type</th>
      <th>Expected input</th>
      <th>Language</th>
      <th>Graphic interface</th>
      <th>Documentation</th>
      <th>Comment</th>
    </tr>

    {% for converter in group.members %}
    <tr>
      <td>
        <a href="{{ converter.url }}" target="_blank">{{ converter.name }}</a>
      </td>
      <td>{{ converter.data_types }}</td>
      <td>{{ converter.expected_input }}</td>
      <td>{{ converter.language }}</td>
      <td>{{ converter.GUI }}</td>
      <td>
        {% if converter.documentation %}
        <a href="{{ converter.documentation }} " target="_blank">doc</a>
        {% endif %}
      </td>
      <td>{{ converter.comment }}</td>
    </tr>
    {% endfor %}
  </table>

  <br />

  {% endfor %}
</section>
