<section class="converters">
  {% for group in include.members %}

  <h3>{{ group.name }}</h3>

  <p>{{ group.comment }}</p>

  <div class="table-container">

    <table>
      <tr>
        <th>Name</th>
        <th>Expected input</th>
        <th>Language</th>
        <th>Distribution</th>
        <th>GUI</th>
        <th>Documentation</th>
        <th>Comment</th>
        <th>License</th>
        <th>Updated</th>
      </tr>

      {% for converter in group.members %}
      <tr>
        <td>
          <a href="{{ converter.url }}" target="_blank">{{ converter.name }}</a>
        </td>
        <td class="distribution">
          <ul>
            {% for input in converter.expected_input %}
              <li> {{ input }} </li>
            {% endfor %}          
          </ul>
        </td>
        <td class="distribution">
          <ul>
            {% for lang in converter.language %}
              <li> {{ lang }} </li>
            {% endfor %}
          </ul>
        </td>
        <td class="distribution">
          <ul>
            {% for entry in converter.distribution %}
            <li>
              <a href="{{ entry.name }}" target="_blank">{{ entry.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ converter.GUI }}</td>
        <td>
          {% if converter.documentation %}
          <a href="{{ converter.documentation }} " target="_blank">doc</a>
          {% endif %}
        </td>
        <td class="comment">{{ converter.comment }}</td>
        <!--Displaying only the year of the latest update as the _data dates are only manually updated at this point.-->
        <td>{{ converter.license }}</td>
        <td>{{ converter.updated | date: "%Y" }}</td>
      </tr>
      {% endfor %}
    </table>

  </div>

  <br />

  {% endfor %}
</section>
