<section>

  <!-- See the tablerow liquid syntax for more info-->
  <!-- https://shopify.github.io/liquid/tags/iteration/ -->

  <div align="center">

    {% for group in include.members %}

      <table style="margin: 1rem">

          {% tablerow person in group.members cols:4 %}

            <a href="https://github.com/{{ person.git }}">
              <img
                src="https://github.com/{{ person.git }}.png?size=150"
                width="150px;"
                alt="{{ person.name }}"
              />
              <br />
              <sub><b>{{ person.name }}</b></sub>
              <br />
            </a>

          {% endtablerow %}

      </table>

    {% endfor %}

  </div>

</section>
