{% if site.election_banner %}

<section>

  <div class="election-banner">

    <h2>BIDS steering group election</h2>

    <p>
      We are excited to announce the opening of the nomination period for
      electing a new Steering Group member!
    </p>
    <p>
      The nomination period will close on Friday,
      <b>October 1st at 11:59pm (Pacific time)</b>. 
      <br>
      This new member will be taking the place of our outgoing member, <b>Kirstie Whitaker</b>.
    </p>
    <p>
        If you are interested in nominating yourself - please submit your name to
        <a href="https://forms.gle/JDryfJRLP2AiHVPg9" target="_blank">our nomination google form</a>.
    </p>
    <p>
      While submitting your nomination, we please ask to prepare a brief
      description of what you would add to the Steering Group if elected and
      include it within this form.
      We are looking to maintain and enhance our range of diverse perspectives
      and experiences currently present on the Steering Group.
    </p>
    <p>
      If you have any questions, please feel free to reach out to 
      <a href="mailto:ffein@stanford.edu">Franklin Feingold</a>.
    </p>

  </div>

</section>

{% endif %}

</p>
<p>
