{% if site.election_banner %}

<section>

  <div class="election-banner">

    <h2>BIDS steering group election</h2>

    <button>
      <a href="https://forms.gle/hq54xEkws5PBM43F9" target="_blank">
        Nomination form
      </a>
    </button>

    <h3>
      Nomination period closes on: <b>Friday September 23rd at 11:59pm 
      (<a href="https://time.is/Anywhere_on_Earth" target="_blank"
      Anywhere on Earth</a>)</b>. 
    </h3>

    <p>
      This year, we are seeking candidates who will replace 
      <b>Russ Poldrack</b> and <b>Melanie Ganz</b>.
    </p>

    <p>
      While submitting your nomination, we please ask to prepare a brief
      description of what you would add to the Steering Group if elected and
      include it within this form.
      We are looking to maintain and enhance our range of diverse perspectives
      and experiences currently present on the Steering Group.
    </p>
    <p>
      If you have any questions, please feel free to reach out to 
      <a href="mailto:bids.maintenance+elections@gmail.com">the BIDS maintainers</a>.
    </p>

    <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube.com/embed/-c4PUhTwmz4" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>

  </div>

</section>

{% endif %}

</p>
<p>
