/**
 * The following are modifications to the initial Cayman theme
**/

@mixin tablesmall {
  @media screen and (max-width: 1340px) {
    @content;
  }
}

.dropdown{

  background-color: $d3;
  border-top: 1px solid $d3;

  .dropdown-menu{
    background-color: $d3;
    border: 1px solid;
    border-top: black;
    border-bottom: $d2;
    border-right: $d2;
    border-left: $d2;
    border-radius: 5px;
    ul li {
      background-color: $d3;
      border: 0;
      margin: 0;
      padding: 0;
    }

    li a {
      color: $l1;
    }

    li a:hover {
      color: $l4;
      background-color: $d2;
    }
  }
}

.converters{

  h3 {
    padding: 1rem;
  }

  .table-container {

    overflow: auto;
    padding: 0;

    width: 120%;

    margin-left: -10%;
    margin-right: 0%;
    
    padding: 0;

    text-align: left;

    vertical-align: middle;    

    @include tablesmall  {
      width: 100%;
      margin-left: 0%;
    }

    table {

      .bep-title {
        width: 25%;
        p{
          text-align: left;
          white-space: wrap;
        };
      }

      .leads {
        width:15%;
        padding: 0;
        margin: 0;
        p{margin: 0;}
      }

      .comment {
        width:25%
      }      

      .shield-badge{
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 180px
      }

      .distribution {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 5px;
        width: 160px
      }      

      .converter-ul {
        p {
          margin: 0;
          margin-top: 5px;
        }
        ul {
          margin: 0;
          padding-left: 15px;
          li {
            margin: 0;
            padding: 0;
            margin-top: 2px;
          }
        }
      }      

      .bep-comment {
        p {
          margin: 0;
          margin-top: 5px;
        }
        ul {
          margin: 0;
          padding-left: 15px;
          li {
            margin: 0;
            padding: 0;
            margin-top: 2px;
          }
        }
      }

    }
  }
}

.center-image {
  margin: 0 auto;
  display: block;
}

.page-header {
  background-image: url($baseurl+"/assets/img/hemispheres_850x325.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 75px;
  padding-top: 15px;
  background-size: 40%;
  @include medium {
    background-size: 80%;
  }
  @include small {
    background-size: 90%;
  }  
}

.election-banner {

  border: 10px solid #aa0000;

  padding-bottom : 1rem;

  margin-top : 1rem;
  margin-left: 20%;
  margin-right: 20%;

  text-align: center;

  p, h2, h3{
    padding-bottom : 1rem;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
  }

  @include medium {
    border: 5px solid #aa0000;
    margin-left: 5%;
    margin-right: 5%;
    p {
      text-align: justify;
    }
  }

  @include small {
    border: 5px solid #aa0000;
    margin-left: 5%;
    margin-right: 5%;
    p {
      text-align: justify;
    }
  }

  button{
    color: #000000;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 20px;
  }

  .iframe-container{
    position: relative;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 56.25%;
    height: 0;

    iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.site-footer {
  text-align: center;
}

html {
  font-size: 16px;
}

body {
  background-color: $body-bg-color;
}

.main-content,
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: lightgray;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}

a,
a:hover, a:focus {
  color: #69b3ff;
}

p {
  text-align: justify;
  word-break: break-word;  /* Chrome */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
