/**
 * The following are modifications to the initial Cayman theme
 */

.center-image {
  margin: 0 auto;
  display: block;
}

.page-header {
  background-image: url($baseurl+"/assets/img/hemispheres_850x325.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 50%;
}

body {
  background-color: $body-bg-color;
}

.main-content,
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: lightgray;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}

a,
a:hover {
  color: hotpink;
}
