/**
 * The following are modifications to the initial Cayman theme
 */

.center-image
{
    margin: 0 auto;
    display: block;
}

.page-header
{
    background-image: url($baseurl + "/assets/img/hemispheres_850x325.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50%
}

body {
    background-color: $body-bg-color;
}
