// Grey scales: neutral is in the middle, 4 levels lighter, and 4 levels darker
$l4: #ffffff;
$l3 :#dddddd;
$l2 :#bbbbbb;
$l1 :#999999;
$n0 :#7f7f7f;
$d1 :#666666;
$d2 :#444444;
$d3 :#222222;
$d4 :#000000;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: $l4 !default;
$header-bg-color: $d4 !default;
$header-bg-color-secondary: $d4 !default;

// Text
$section-headings-color: $l2 !default;
$body-bg-color: $d4 !default;
$body-text-color: $l1 !default;
$body-link-color: $l3 !default;
$blockquote-text-color: $l2 !default;

// Code
$code-bg-color: $d4 !default;
$code-text-color: $l1 !default;

// Borders
$border-color: $l1 !default;
$table-border-color: $l1 !default;
$hr-border-color: $l1 !default;
