| Name  | Expected input | Language | Distribution | Updated |
| :---: | :------------  | :------  | :----------  | :-----: |
{% for converter in include %}
    {% if converter.status == 'active' and data_type in converter.data_types %}
        {% if data_type in converter.data_types %}
            {% set converter_url = converter.documentation if converter.documentation else converter.url %}
            | [{{ converter.name }}]( {{ converter_url }} "{{ converter.comment | replace("\n", " ") }}" ) | {% for input in converter.expected_input or ["N/A"] %} {{ input }} <br> {% endfor %} | {% for lang in converter.language or ["N/A"] %} {{ lang }} <br> {% endfor %} | {% for entry in converter.distribution or [] %} {% if entry.name == "pypi" %} [![PyPI version](https://badge.fury.io/py/{{ entry.url | replace("https://pypi.org/project/", "") }}.svg)]({{ entry.url }}) <br> {% elif entry.name == "dockerhub" %} [![dockerhub pulls](https://img.shields.io/docker/pulls/{{ entry.url | replace("https://hub.docker.com/r/", "")}}.svg)]({{ entry.url }}) <br> {% elif entry.name == "conda-forge" %} [![conda forge]({{ entry.url }}badges/version.svg)]({{ entry.url }}) <br> {% else %} [entry.name](entry.url) <br> {% endif %} {% endfor %} | !["GitHub last commit"](https://img.shields.io/github/last-commit/{{ converter.url | replace("https://github.com/", "") }}?style=plastic) |
        {% endif %}
    {% endif %}
{% endfor %}
