<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>


    <meta charset="UTF-8">
    <title>Brain Imaging Data Structure</title>

    <script type="application/ld+json">
  	{
  	  "@context": "https://schema.org",
  	  "@type": "Organization",
  	  "name": "Brain Imaging Data Structure",
  	  "url": "http://bids.neuroimaging.io",
  	  "sameAs": [
  	    "https://en.wikipedia.org/wiki/Brain_Imaging_Data_Structure",
  	    "https://twitter.com/BIDSstandard"
  	  ]
  	}
    </script>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    {% seo %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      {% if site.show_menu %}
        <a href={{ site.baseurl }}/ class="btn">ABOUT</a>
        <a href={{ site.baseurl }}/benefits class="btn">BENEFITS</a>
        <a href={{ site.baseurl }}/specification class="btn">THE SPECIFICATION</a>
        <a href={{ site.baseurl }}/getting_started class="btn">GETTING STARTED</a>
        <a href={{ site.baseurl }}/get_involved class="btn">GET INVOLVED</a>
        <a href={{ site.baseurl }}/acknowledgements class="btn">ACKNOWLEDGMENTS</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      {% if site.show_footer %}
        <footer class="site-footer">
          {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
          {% endif %}
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
      {% endif %}

    </main>
  </body>
</html>
