name: Check Markdown links

on:
  push:
    branches: [ gh-pages ]
  pull_request:
    branches: [ gh-pages ]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        config-file: 'md_link_check_config.json'
        folder-path: '_bep_collection, _data, _includes, _layouts, _pages, _posts, _redirects, _sass, assets, BIDS-materials, docs, script'
        file-path: './README.md'
