---
name: Publish docs via GitHub Pages
on:
    push:
        branches:
        -   main

jobs:
    build:
        name: Deploy docs
        runs-on: ubuntu-latest
        steps:
        -   name: Checkout
            uses: actions/checkout@v4

        -   name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: 3.12

        -   name: Deploy docs
            uses: mhausenblas/mkdocs-deploy-gh-pages@master
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                CONFIG_FILE: mkdocs.yml
                REQUIREMENTS: requirements.txt
