---
name: Validation

on:
    push:
        branches: [main]
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# Force to use color
env:
    FORCE_COLOR: true

jobs:
  # Avoid Latin phrases to improve readability
    latin-phrases:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -   uses: actions/setup-python@v6
            with:
                python-version: 3.12
        -   name: Install dependencies
            run: python -m pip install -e tools[ci]
        -   name: Check for Latin phrases
            run: python no-bad-latin.py
            working-directory: tools/ci

    # Markdown formatting
    remark:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -   uses: actions/setup-node@v6
            with:
                node-version: 22
        -   name: Run markdown style checks
            run: make remark

    # validate bep leads metadata
    bep-leads:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
            with:
                submodules: true
        -   uses: actions/setup-python@v6
            with:
                python-version: 3.12
        -   name: Install dependencies
            run: python -m pip install -e tools[ci]
        -   name: Check bep lead metadata
            run: python validate_people.py
            working-directory: tools/ci

    # validate apps metadata
    apps:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -   uses: actions/setup-python@v6
            with:
                python-version: 3.12
        -   name: Install dependencies
            run: python -m pip install -e tools[ci]
        -   name: Check bep lead metadata
            run: python validate_apps.py
            working-directory: tools/ci
