---
name: Validation

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
  # Avoid Latin phrases to improve readability
    latin-phrases:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
        -   uses: actions/setup-python@v5
            with:
                python-version: 3
        -   name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                python -m pip install -r tools/requirements.txt
        -   name: Run Python script to check for Latin phrases - Master
            if: github.event_name == 'push' && github.ref == 'refs/heads/master'
            run: |
                python no-bad-latin.py
            working-directory: tools
        -   name: Run Python script to check for Latin phrases - Pull Request
            if: github.event.pull_request
            run: |
                python no-bad-latin.py
            working-directory: tools


    # Markdown formatting
    remark:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
        -   uses: actions/setup-node@v4
            with:
                node-version: 14
        -   name: Install dependencies
            run: npm install `cat npm-requirements.txt`
        -   name: Run style checks
            run: npx remark docs/**/*.md --frail --rc-path .remarkrc
